@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu+Condensed&display=swap');

.label {
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: bold;
}

.menuButton, #title {
    -fx-font-family: 'Press Start 2P';
}

.toggle-button, .button {
    -fx-font-family: 'Ubuntu Condensed', sans-serif;
}

.menuButton:hover {
    -fx-text-fill: #a00;
    -fx-scale-y: 2;
    -fx-scale-x: 2;
}

.menuButton:pressed {
    -fx-text-fill: #f33;
    -fx-scale-x: 1.75;
    -fx-scale-y: 1.75;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: black;
    -fx-max-width: 30px;
}

.scroll-pane > .scroll-bar:horizontal .track,
.scroll-pane > .scroll-bar:vertical .track {
    -fx-background-color: black;
    -fx-background-radius: 1px;
    -fx-pref-width: 1px;
    -fx-pref-height: 1px;
    -fx-padding: 0;
    -fx-tab-max-width: 1px;
    -fx-unit-increment: 25;
}

.scroll-pane > .scroll-bar:horizontal .thumb,
.scroll-pane > .scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-unit-increment: 25;
    -fx-background-radius: 1px;
    -fx-pref-height: 1px;
    -fx-padding: 0;
    -fx-pref-width: 1px;
    -fx-tab-max-width: 1px;
}

.scroll-pane > .corner {
    -fx-background-color: black;
    -fx-unit-increment: 25;

}

.text-area {
    text-area-background: gray;
}

.text-area .content {
    -fx-background-color: text-area-background;
}