@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu+Condensed&display=swap');

 .label{
    -fx-font-family: "Roboto", sans-serif;
    -fx-font-weight: bold;
}
.menuButton,#title{
    -fx-font-family: 'Press Start 2P';
}
.toggle-button, .button{
    -fx-font-family: 'Ubuntu Condensed', sans-serif;
}

.menuButton:hover{
    -fx-text-fill: #a00;
    -fx-scale-y: 2;
    -fx-scale-x: 2;
}

.menuButton:pressed{
    -fx-text-fill: #f33;
    -fx-scale-x: 1.75;
    -fx-scale-y: 1.75;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}